@import url("style.css");

/* Contact */
.input-fields {
    padding-left: 20px;
    padding-top: 20px;
  }
  .input-fields input {
    padding: 10px;
    width: 1300px;
    height: 50px;
  }
  .input-fields button {
    width: 200px;
    padding: 12px;
    color: white;
    background-color: black;
    font-size: 18px;
  }
  